.validate__form__span{
    color: red;
    font-size: 16px;
    }

.validate__form{
    display: flex;
gap: 10px;
flex-direction: column;
  justify-content: center;
  height: 50%; 
border-radius: 30.538px;
/* border: 5.09px solid var(--neutral-300, #EFF0F6); */
background: rgba(0, 0, 0, 0.2);
backdrop-filter: blur(25.448572158813477px);
padding: 30px;
}

    .form{
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('../../imgs/logo.png') ;
    background-repeat: no-repeat;
    background-size: 750px;
    }
    body{
    background-color: rgb(0, 0, 0);
    }
    .validate__form>input{
    padding: 8px 15px;
    border-radius: 8px;
    outline: none;
    min-width: 200px;
  
    }
    .validate__form>button{
    background-color: beige;
    padding: 15px 0;
    color: white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    }
.validate__form>h2{
text-align: center;
color: #fff;
font-size: 28px;
}

@media screen and (max-width:558px) {
    .form{
        background-size: 514px;
        
        background-position-y: 7px;
    }
}